<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arkfancy.pokemon.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arkfancy.pokemon.entity.Member">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="member_name" property="memberName" />
        <result column="join_date" property="joinDate" />
        <result column="leave_date" property="leaveDate" />
    </resultMap>
    
	<resultMap id="MemberVoResultMap"
		type="com.arkfancy.pokemon.domain.vo.MemberVO"
		extends="BaseResultMap">
		<result column="rank_name" property="rankName" />
	</resultMap>
	
	<select id="selectMembers" resultMap="MemberVoResultMap">
		select
			pm.member_id,
			pm.member_name,
			pm.rank_id,
			pr.rank_name,
			pm.join_date,
			pm.leave_date
		from
			pokemon_member pm
		left join
			pokemon_rank pr
			on pr.rank_id = pm.rank_id
		<where>
			<if test="containLeave == null || containLeave == false">
				and pm.leave_date is null
			</if>
		</where>
		order by 
			pm.rank_id,
			pm.id
	</select>
	

</mapper>
